@import 'reset.scss';

body {
  font-family: 'Roboto', sans-serif;
}

/*==================================================
                      Dimensions
==================================================*/
.fullscreen {
  width: 100vw;
  height: 80vh;
}

.fullwidth {
  width: 100%;
}

.width300 {
  width: 300px;
}

/*==================================================
                Margins & Paddings
==================================================*/
.horizontal-margin-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}



/*==================================================
                      Layout
==================================================*/
.center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}


