@import 'reset.scss';

body {
  font-family: 'Roboto', sans-serif;
}

/*==================================================
                      Dimensions
==================================================*/
.fullscreen {
  width: 100vw;
  height: 80vh;
}


/*==================================================
                      Layout
==================================================*/
.center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}


